.st-key-footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.st-key-my_territoryid_container,
.st-key-my_territoryid_dashboard_container {
    /* border-radius: 20px;
    border-top: 1px solid #8e00c6;
    border-top: 1px solid #8e00c6; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    /* padding-top: 10px; */
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.st-key-login_header_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.st-key-hcp_expander p {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* All Buttons */
.st-key-add_route_plan_button button,
.st-key-route_filter_button button,
.st-key-add_daily_form_button button,
.st-key-filter_daily_form_button button,
.st-key-filter_hcp_form_button button,
.st-key-add_hcp_form_button button,
.st-key-filter_hcp_form_button button,
.st-key-refresh_route_planner button,
.st-key-refresh_daily_form button,
.st-key-refresh_hcp_form button,
.st-key-add_hcp_form_existing_button button,
.st-key-add_hcp_form_existing_address_button button {
    /* border-radius: 100px; */
    /* min-width: 100px; */
}

/* Refresh Buttons */
.st-key-refresh_daily_form button,
.st-key-refresh_hcp_form button,
.st-key-refresh_route_planner button,
.st-key-outcomes_button button {
    border-radius: 100px;
    /* min-width: 100px; */
    border: none;
}

/* Clear Buttons & Submit Buttons */
.st-key-clear_daily_form button,
.st-key-clear_hcp_form button,
.st-key-clear_route_planner_form button,
.st-key-submit_daily_form button,
.st-key-submit_hcp_form button,
.st-key-submit_route_planner button {
    border-radius: 100px;
}